.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  padding:30px;
  border-bottom: 3px solid skyblue;
}

.sideHeaders {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}
.sideHeaders .details{
  padding: 10px;
  text-align: center;
}
h1 {
  font-size: 30px;
  padding: 10px;
  font-weight: 400;
}
h2 {
  font-size: 20px;
  padding: 5px;
  font-weight: 400;
}

.starFill {
  color:skyblue;
}

.starRatingFill {
  color:maroon;
}

.stars{
  font-size:50px;
}

.movieRaterHeader{
  border-top: 3px solid maroon;
  margin-top: 50px;
}

.eachMovieName{
  cursor:pointer;
}