.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  padding:30px;
  margin:0 10px 0 10px;
  border-bottom: 3px solid skyblue;
}

.sideHeaders {
  margin:0 10px 0 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.sideHeaders .details{
  text-align: center;
  
}
h1 {
  font-size: 30px;
  padding: 10px;
  font-weight: 400;
}
h2 {
  font-size: 20px;
  padding: 5px;
  font-weight: 400;
}

.starFill {
  color:skyblue;
}

.starRatingFill {
  color:maroon;
}

.stars{
  font-size:50px;
}

.movieRaterHeader{
  border-top: 3px solid maroon;
  margin-top: 50px;
}

.eachMovieName{
  cursor:pointer;
  text-align:left;
}

.movieListIcons{
  display:grid;
  grid-template-columns: 1fr auto auto;
  place-items:center;
}

.movieListIcons .icons{
  font-size:20px;
  padding: 0 5px;
}

.form{
  display:grid;
  grid-template-columns: auto auto;
  row-gap:10px;
  align-items:center;
  padding:20px;
  width:50%;
  
}

.loginScreen{
  padding:20px;
}

input, textarea {
  padding:0.4rem;
  margin:3px;
}

button {
  background-color: grey;
  border-radius: 3px;
  color:#222222;
  padding: 2px 10px;
  cursor: pointer;
}

button:disabled {
  background-color: #222222;
  color:grey;
  cursor: default;
}